body {
  font-size: 20px;
}
header,
main,
nav,
footer {
  margin:  auto;
  max-width: 760px;
  background-color: rgb(236, 236, 236);
}

img {
  float: right;
  margin: 10px;
  border-radius: 2px;
  width: 200px;
}
header { display: grid;

grid-template-columns: 1fr 5fr;}

h1{text-align: center;
  margin-top: 15%;}

  h2{
    border-bottom: 1px solid black;
  }

footer{
  text-align: center;
}